<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Select and Delete Place</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </div>
    </div>
</nav>
<form class="form-horizontal" th:method="POST">
    <fieldset>
        <legend>Enter place id, to delete the place</legend>


        <div class="form-group">
            <label for="PlaceID" class="col-lg-2 control-label">PlaceID</label>
            <div class="col-lg-6">
                <input type="text" autofocus="autofocus" name="StringId"  th:text="${mistakeForId}" title="Place ID" class="form-control"
                       id="PlaceID"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-2 col-lg-offset-2" >
                <button type="submit" class="btn btn-primary" >Delete</button>
            </div>
            <div class="col-lg-2 col-lg-offset-0">
                <a th:href="@{/}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        <div class="jumbotron">
            <form >
                <div class="col-md-12 d-flex justify-content-center">
                    <label class="display-4" for="export-project-textarea">Available Places:</label>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-8 d-flex justify-content-center">
                        <textarea class="form-control" id="export-project-textarea" rows="20" th:text="${parkingPlaces}" readonly></textarea>
                    </div>
                </div>
            </form>
        </div>




    </fieldset>
</form>


<hr/>

<footer>
    <p>&copy; Amir Hadzhiev</p>
</footer>
</div>

</body>
</html>